<table id="gameTable">
    <tr>
        <td id="overview" valign="top"></td>
        <td id="info" valign="top"></td>
    </tr>
    <tr>
        <td id="components" valign="top"></td>
        <td id="grid" valign="top"></td>
    </tr>
</table>
