<div class="gameWindow">
    <div id="researchArea" class="gameWindowInner">
        <a href="javascript:void(0);" id="closeResearchButton" class="closeButton"></a>
        <div id="researchItemContainer">
            <div class="researchItem">
                <div class="researchItemInner">
                    <div class="researchIcon"></div>
                    <span class="researchName">FooResearch</span>
                    <div style="width: 182px;">
                        <div>
                            <span>Level:&nbsp;</span>
                            <span class="researchLevel">1</span>
                        </div>
                        <div style="float: right;">
                            <span>Price:&nbsp;</span>
                            <span class="researchPrice">200000$</span>
                        </div>
                    </div>
                    <span>Increases all generators heat absorption by 10% per level.</span>
                </div>
                <a href="javascript:void(0);" id="buyFooResearchButton" class="buyResearchButton button">Buy</a>
            </div>
            <div class="researchItem">
                <div class="researchIcon"></div>
            </div>
            <div class="researchItem">
                <div class="researchIcon"></div>
            </div>
            <div class="researchItem">
                <div class="researchIcon"></div>
            </div>
            <div class="researchItem">
                <div class="researchIcon"></div>
            </div>
            <div class="researchItem">
                <div class="researchIcon"></div>
            </div>
            <div class="researchItem">
                <div class="researchIcon"></div>
            </div>
            <div class="researchItem">
                <div class="researchIcon"></div>
            </div>
            <div class="researchItem">
                <div class="researchIcon"></div>
            </div>
            <div class="researchItem">
                <div class="researchIcon"></div>
            </div>
        </div>
    </div>
</div>
