<div class="gameWindow">
    <div id="researchArea" class="gameWindowInner">
        <a href="javascript:void(0);" id="closeResearchButton" class="closeButton"></a>
        <div id="researchItemContainer">
            <div class="researchItem"></div>
            <div class="researchItem"></div>
            <div class="researchItem"></div>
            <div class="researchItem"></div>
            <div class="researchItem"></div>
        </div>
    </div>
</div>
