#componentsTable {
    margin-top: 5px;
    margin-bottom: 5px;
}

.component {
    float: left;
    overflow: hidden;

    width: 32px;
    height: 32px;
    margin: 1.5px;

    border-radius: 10%;
}

.component:hover {
    box-shadow: 0 0 .75px 2px #333;
}

.component.selected {
    box-shadow: 0 0 .75px 2px #da4343;
}
