#overview {
    width: 25%;
    height: 120px;
}

#info,
#overview,
#components {
    padding: 5px;

    border-radius: 10px;
    background-color: #ddd;
    box-shadow: 0 0 4px 1px #bbb;
}

#gameTable {
    width: 100%;
    height: 460px;

    border-spacing: 8px;
}

.heatText {
    font-size: 1.1em;
    font-weight: bold;

    color: #ff4848;
    text-shadow: 0 0 3px #aaa;
}

.moneyText {
    font-size: 1.15em;
    font-weight: 600;

    color: #959500;
    text-shadow: 0 0 2px #aaa;
}
