#researchItemContainer {
    width: 100%;
    height: 100%;
}

.researchItem {
    float: left;

    width: 138px;
    height: 80px;
    margin: 2px;

    border: 1px solid #666;
    border-radius: 5px;
    background: #ddd;
}
